.zmienKolor{
    color: blueviolet;
}

.button{
    background-color: pink;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid pink;
}

.button:hover{
    background-color: blueviolet;
}

.zwieksz{
    font-size: xx-large;
}

.zmniejsz{
    font-size: xx-small;
}